.navbar{
    img.logo{
        height: 50px;
        // transform: scale(1.25);
        // width: ;
    }
    .navbar-brand{
        // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.75rem;
        font-weight:bold;

    }
    .nav-item a.nav-link {
        font-size: 1.15rem;

    }
}