.jumbotron-welcome {
    min-height: 60vh;
    background: url('https://images.pexels.com/photos/1285625/pexels-photo-1285625.jpeg');
    background-image: url('immagini-layout/jumbotron-welcome.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    .titolo-jumbo{
        font-size: 85px;
        color: navy;
    }
}